body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(grey,darkgrey);
}

.a{
  text-align: center;
  margin-top: 150px;
}

.b{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.c{
  font-size: large;
}